/* UTILITIES & BASE */
* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  cursor: url(../assets/cursor/default.png), auto !important; }
  *::selection {
    background-color: #344e41;
    color: #dad7cd; }
  * a {
    cursor: url(../assets/cursor/pointer.png), pointer !important; }
    * a img {
      cursor: url(../assets/cursor/pointer.png), pointer !important; }
  * button {
    cursor: url(../assets/cursor/pointer.png), pointer !important; }

body {
  background-color: #f2f4f3;
  margin: 0;
  padding: 0; }

.textColor {
  color: #344e41; }

.justifyText {
  text-align: justify; }

.italic {
  font-style: italic; }

.bold {
  font-weight: bold; }

.hyperlink {
  color: #344e41; }
  .hyperlink:hover {
    color: #a3b18a; }
    .hyperlink:hover:visited {
      color: #dad7cd; }

/* LAYOUT */
footer {
  width: 100%;
  padding: 50px 0;
  background-color: #344e41;
  margin-top: 100px; }
  footer .mainContent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    footer .mainContent .textSection {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center; }
      footer .mainContent .textSection .logoFooter {
        width: 275px; }
      footer .mainContent .textSection .footerLine {
        width: 100%; }
      footer .mainContent .textSection .footerText {
        font-size: 15px;
        color: white; }
        footer .mainContent .textSection .footerText a {
          color: #a3b18a; }
          footer .mainContent .textSection .footerText a:hover {
            text-decoration: underline; }
    footer .mainContent .socialContainer {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center; }
      footer .mainContent .socialContainer .socialText {
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 30px;
        color: white; }
      footer .mainContent .socialContainer .socialButtons {
        display: inline-flex; }
        footer .mainContent .socialContainer .socialButtons a {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin: 0 20px;
          cursor: pointer;
          height: 60px;
          width: 60px;
          background: white;
          text-align: center;
          border-radius: 50%;
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
          transition: all 0.3s ease; }
          footer .mainContent .socialContainer .socialButtons a:hover {
            transform: scale(1.2); }
            footer .mainContent .socialContainer .socialButtons a:hover img {
              filter: invert(99%) sepia(0%) saturate(2%) hue-rotate(15deg) brightness(107%) contrast(101%); }
            footer .mainContent .socialContainer .socialButtons a:hover:nth-child(1) {
              background-color: #4267b2; }
            footer .mainContent .socialContainer .socialButtons a:hover:nth-child(2) {
              background-color: #1da1f2; }
            footer .mainContent .socialContainer .socialButtons a:hover:nth-child(3) {
              background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%); }
            footer .mainContent .socialContainer .socialButtons a:hover:nth-child(4) {
              background-color: #ff0000; }
          footer .mainContent .socialContainer .socialButtons a img {
            height: 30px;
            filter: invert(26%) sepia(5%) saturate(2962%) hue-rotate(97deg) brightness(83%) contrast(78%); }

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%; }
  header .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%; }
    header .navbar .navbar-brand .logoImage {
      width: 350px; }
    header .navbar .navbar-collapse.show {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center; }
    header .navbar .navbar-nav {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      header .navbar .navbar-nav li {
        display: inline-block;
        padding: 0px 20px;
        font-size: 15px;
        font-weight: bold;
        text-decoration: none; }
        header .navbar .navbar-nav li a {
          transition: all 0.3s ease 0s;
          color: #344e41; }
          header .navbar .navbar-nav li a:hover {
            color: #a3b18a;
            text-decoration: underline; }
          header .navbar .navbar-nav li a.active {
            color: #a3b18a; }
      header .navbar .navbar-nav .collabButton {
        font-size: 15px;
        font-weight: bold;
        color: white;
        padding: 9px 25px;
        background-color: #344e41;
        border: none;
        border-radius: 50px;
        transition: all 0.3s ease 0s; }
        header .navbar .navbar-nav .collabButton:hover {
          background-color: #a3b18a; }
        header .navbar .navbar-nav .collabButton.active {
          background-color: #a3b18a; }
          header .navbar .navbar-nav .collabButton.active:hover {
            background-color: #344e41; }

.top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  background-size: cover !important;
  width: 100%;
  height: 600px; }
  .top .textImage {
    font-size: 170%;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 150px;
    color: #f2f4f3;
    text-align: center;
    font-weight: 500; }
  .top.homeTop {
    background: url(../assets/background/home.webp);
    background-repeat: no-repeat; }
  .top.aboutTop {
    background: url(../assets/background/about.webp);
    background-repeat: no-repeat; }
  .top.adoptTop {
    background: url(../assets/background/adopt.webp);
    background-repeat: no-repeat; }
  .top.collabTop {
    background: url(../assets/background/collab.webp);
    background-repeat: no-repeat; }
  .top.contactTop {
    background: url(../assets/background/contact.webp);
    background-repeat: no-repeat; }
  .top.dogAdoptTop {
    background: url(../assets/background/dogs.webp);
    background-repeat: no-repeat; }
  .top.catAdoptTop {
    background: url(../assets/background/cats.webp);
    background-repeat: no-repeat; }
  .top.othersAdoptTop {
    background: url(../assets/background/others.webp);
    background-repeat: no-repeat; }

/* PAGES */
.infoWrapper {
  display: flex;
  padding-top: 100px;
  padding-left: 15%;
  padding-right: 15%;
  overflow: hidden; }
  .infoWrapper p {
    margin-top: 0;
    margin-bottom: 0;
    text-align: justify; }
  .infoWrapper .infoLeft {
    margin-right: 120px;
    width: 50%; }
    .infoWrapper .infoLeft .mainTitle {
      font-size: 25px;
      margin-top: 0;
      margin-bottom: 10px; }
    .infoWrapper .infoLeft .infoButton {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 55%; }
      .infoWrapper .infoLeft .infoButton h4 {
        font-size: 15px; }
      .infoWrapper .infoLeft .infoButton .aboutButton {
        color: white;
        padding: 9px 25px;
        background-color: #344e41;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s; }
        .infoWrapper .infoLeft .infoButton .aboutButton:hover {
          background-color: #a3b18a; }
  .infoWrapper .infoRight {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 40%; }
    .infoWrapper .infoRight .infoContainer {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: stretch;
      margin-bottom: 80px; }
      .infoWrapper .infoRight .infoContainer .title {
        font-size: 20px;
        max-width: 700px;
        text-align: left; }
      .infoWrapper .infoRight .infoContainer .backgroundWelcome {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
        background-color: #344e41;
        min-width: 90px;
        height: 90px;
        border-radius: 50%; }
        .infoWrapper .infoRight .infoContainer .backgroundWelcome:hover {
          opacity: 0.6;
          transition: opacity 0.3s ease-in; }
        .infoWrapper .infoRight .infoContainer .backgroundWelcome .welcomeInfo {
          height: 70px;
          width: 70px;
          padding: 10px; }

.aboutSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: 70px;
  margin-left: 15%;
  margin-right: 15%;
  overflow: hidden; }
  .aboutSection .principalText {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-style: italic;
    margin-bottom: 70px;
    color: #a3b18a; }
    .aboutSection .principalText .aboutFirstTitle {
      font-size: 35px;
      margin-right: 150px; }
    .aboutSection .principalText .aboutSecondTitle {
      font-size: 35px; }
  .aboutSection .aboutInfo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    padding-bottom: 100px; }
    .aboutSection .aboutInfo .imageAbout {
      width: 300px;
      height: auto;
      object-fit: cover; }
    .aboutSection .aboutInfo .aboutFirstText {
      margin-right: 0;
      margin-left: 40px; }
      .aboutSection .aboutInfo .aboutFirstText h2 {
        font-weight: 600;
        color: #344e41;
        font-size: 30px;
        line-height: 1.5em;
        margin-bottom: 3%; }
      .aboutSection .aboutInfo .aboutFirstText p {
        margin-bottom: 0; }
    .aboutSection .aboutInfo .aboutSecondText {
      margin-left: 0;
      margin-right: 40px; }
      .aboutSection .aboutInfo .aboutSecondText h2 {
        font-weight: 600;
        color: #344e41;
        font-size: 30px;
        line-height: 1.5em;
        margin-bottom: 0; }
      .aboutSection .aboutInfo .aboutSecondText h3 {
        font-size: 25px;
        letter-spacing: 3px;
        line-height: 1.7em;
        margin-bottom: 30px;
        opacity: 0.5;
        text-transform: uppercase; }
      .aboutSection .aboutInfo .aboutSecondText p {
        font-size: 18px;
        margin-top: 30px; }

.accordion {
  padding-top: 100px;
  padding-left: 15%;
  padding-right: 15%; }
  .accordion .accordion-button:focus {
    box-shadow: 0 0 0 0.25rem rgba(52, 78, 65, 0.2); }
  .accordion .accordion-button:not(.collapsed) {
    color: white;
    background-color: #344e41; }
    .accordion .accordion-button:not(.collapsed)::after {
      background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>"); }

.principalTextAdoption {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  margin-top: 100px;
  margin-left: 15%;
  margin-right: 15%;
  padding: 1%;
  overflow: hidden; }
  .principalTextAdoption h1 {
    color: #344e41;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase; }
  .principalTextAdoption h2 {
    font-size: 20px;
    color: gray;
    text-align: center;
    text-transform: inherit;
    opacity: 0.5; }
  .principalTextAdoption p {
    color: black;
    font-size: 15px;
    margin-bottom: 0;
    text-align: center; }

.adoptWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 70%;
  margin: auto;
  margin-top: 100px; }
  .adoptWrapper .petSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }
    .adoptWrapper .petSection .adoptImages {
      width: 300px;
      border-radius: 50%;
      padding-bottom: 25px; }
    .adoptWrapper .petSection a {
      text-decoration: none;
      text-align: center; }
      .adoptWrapper .petSection a h3 {
        box-shadow: inset 0 0 0 0 #344e41;
        color: #344e41;
        margin: 0 -0.25rem;
        padding: 0 0.25rem;
        transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        text-align: c; }
        .adoptWrapper .petSection a h3:hover {
          box-shadow: inset 420px 0 0 0 #344e41;
          color: white; }

.findText {
  padding-top: 50px;
  text-align: center; }
  .findText h1 {
    color: #344e41; }

.cardWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding-top: 100px;
  padding-left: 15%;
  padding-right: 15%; }
  .cardWrapper .cardContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; }
    .cardWrapper .cardContainer .card {
      top: 0;
      left: 0;
      width: 250px;
      height: 320px;
      border-radius: 10px;
      transform-style: preserve-3d;
      transition: all 0.8s ease; }
      .cardWrapper .cardContainer .card:hover {
        transform: rotateY(180deg); }
      .cardWrapper .cardContainer .card .cardFront {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        backface-visibility: hidden;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .cardWrapper .cardContainer .card .cardFront h1 {
          padding: 30px;
          font-weight: bold;
          font-size: 24px;
          text-align: center;
          color: white;
          text-shadow: 1px 1px 2px rgba(52, 78, 65, 0.38); }
        .cardWrapper .cardContainer .card .cardFront.cardOne {
          background: url(../assets/images/haztesocio.jpg); }
        .cardWrapper .cardContainer .card .cardFront.cardTwo {
          background: url(../assets/images/apadrina.jpg); }
        .cardWrapper .cardContainer .card .cardFront.cardThree {
          background: url(../assets/images/canguro.jpg); }
        .cardWrapper .cardContainer .card .cardFront.cardFour {
          background: url(../assets/images/voluntariado.jpg); }
        .cardWrapper .cardContainer .card .cardFront.cardFive {
          background: url(../assets/images/donativo.jpg); }
        .cardWrapper .cardContainer .card .cardFront.cardSix {
          background: url(../assets/images/difunde.jpg); }
      .cardWrapper .cardContainer .card .cardBack {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        backface-visibility: hidden;
        overflow: hidden;
        background: #fafafa;
        color: #333;
        text-align: center;
        transform: rotateY(180deg); }
        .cardWrapper .cardContainer .card .cardBack p {
          padding: 30px;
          font-weight: normal;
          font-size: 12px; }

.secondWrapper {
  margin-left: 15%;
  margin-right: 15%; }
  .secondWrapper hr {
    margin-top: 70px;
    border: none;
    height: 5px;
    background: #dad7cd; }
  .secondWrapper p {
    margin-top: 50px;
    color: #344e41;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase; }

.sectionWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 15%;
  padding-right: 15%;
  overflow: hidden; }
  .sectionWrapper .boxText {
    background-color: #344e41;
    padding: 3%; }
    .sectionWrapper .boxText .aboutEndText {
      color: white;
      font-size: 18px;
      font-weight: bold; }
  .sectionWrapper .containerForm {
    width: 100%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 180px;
    margin-top: 100px;
    margin-bottom: 50px; }
    .sectionWrapper .containerForm .infoForm {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center; }
      .sectionWrapper .containerForm .infoForm .socialsForm {
        display: inline-flex; }
        .sectionWrapper .containerForm .infoForm .socialsForm a {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin: 0 20px;
          cursor: pointer;
          height: 60px;
          width: 60px;
          transition: all 0.3s ease; }
          .sectionWrapper .containerForm .infoForm .socialsForm a img {
            height: 30px;
            filter: invert(26%) sepia(5%) saturate(2962%) hue-rotate(97deg) brightness(83%) contrast(78%); }
          .sectionWrapper .containerForm .infoForm .socialsForm a:hover {
            transform: scale(1.2); }
            .sectionWrapper .containerForm .infoForm .socialsForm a:hover img {
              filter: invert(79%) sepia(18%) saturate(415%) hue-rotate(40deg) brightness(85%) contrast(86%); }
      .sectionWrapper .containerForm .infoForm h2 {
        font-size: 30px;
        text-align: center; }
      .sectionWrapper .containerForm .infoForm h4 {
        font-size: 23px;
        text-align: center; }
      .sectionWrapper .containerForm .infoForm p {
        text-align: center;
        font-size: 20px;
        line-height: 1.6;
        margin-bottom: 30px; }
    .sectionWrapper .containerForm .sectionForm {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center; }
      .sectionWrapper .containerForm .sectionForm .formSelect {
        width: 100%;
        padding: 15px 10px;
        font-size: 15px;
        border: 1px solid #344e41;
        margin-bottom: 20px;
        border-radius: 3px;
        outline: 0px; }
      .sectionWrapper .containerForm .sectionForm .field {
        width: 100%;
        padding: 15px 10px;
        font-size: 15px;
        border: 1px solid #344e41;
        margin-bottom: 20px;
        border-radius: 3px;
        outline: 0px; }
      .sectionWrapper .containerForm .sectionForm textarea {
        width: 100%;
        padding: 15px 10px;
        font-size: 15px;
        border: 1px solid #344e41;
        margin-bottom: 20px;
        border-radius: 3px;
        outline: 0px; }
      .sectionWrapper .containerForm .sectionForm .sendButton {
        padding: 15px;
        font-size: 15px;
        border: none;
        outline: 0px;
        background: #344e41;
        color: white;
        border-radius: 3px;
        cursor: pointer;
        transition: all 300ms ease; }

.adoptionAnimalsWrapper {
  display: grid;
  grid-template-columns: repeat(3, 0.3fr);
  gap: 50px;
  align-items: center;
  justify-content: center;
  width: 100%; }
  .adoptionAnimalsWrapper .adoptionAnimalsSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #344e41;
    border-radius: 10px;
    overflow: hidden; }
    .adoptionAnimalsWrapper .adoptionAnimalsSection img {
      width: 100%;
      object-fit: cover;
      filter: grayscale(1);
      transition: all 0.5s ease;
      border-bottom: 2px solid #344e41; }
      .adoptionAnimalsWrapper .adoptionAnimalsSection img:hover {
        filter: none; }
    .adoptionAnimalsWrapper .adoptionAnimalsSection h1 {
      width: 100%;
      padding-top: 10px;
      padding-left: 10px;
      text-align: left;
      color: #344e41; }
    .adoptionAnimalsWrapper .adoptionAnimalsSection ul {
      padding-left: 10px;
      width: 100%; }
      .adoptionAnimalsWrapper .adoptionAnimalsSection ul li {
        list-style: none;
        text-transform: uppercase;
        font-weight: 500; }

.arrowAdopt {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 90px;
  padding-left: 5%;
  padding-bottom: 10px;
  padding-right: 5%; }
  .arrowAdopt .arrowLeft, .arrowAdopt .arrowRight {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; }
    .arrowAdopt .arrowLeft img, .arrowAdopt .arrowRight img {
      width: 30px;
      filter: invert(27%) sepia(14%) saturate(695%) hue-rotate(97deg) brightness(101%) contrast(98%); }
      .arrowAdopt .arrowLeft img:hover, .arrowAdopt .arrowRight img:hover {
        filter: invert(74%) sepia(13%) saturate(575%) hue-rotate(40deg) brightness(93%) contrast(85%); }
    .arrowAdopt .arrowLeft p, .arrowAdopt .arrowRight p {
      padding-left: 10px;
      margin-bottom: 0;
      color: #344e41;
      text-transform: uppercase;
      font-weight: 600; }
  .arrowAdopt .arrowRight p {
    padding-right: 10px; }

a {
  text-decoration: none; }

/* MEDIA QUERIES */
@media screen and (max-width: 1480px) {
  /* Main image */
  .top .textImage {
    font-size: 140%; }
  /* About */
  .aboutSection .principalText .aboutFirstTitle {
    margin-right: 100px; }
  /* Adopt */
  .adoptWrapper {
    width: 80%; }
    .adoptWrapper .petSection a {
      text-align: center; }
  /* Contact */
  .sectionWrapper .containerForm {
    grid-template-columns: repeat(1, 1fr);
    gap: 80px; } }

@media screen and (max-width: 1225px) {
  header .navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }
    header .navbar .navbar-brand {
      margin-right: 0; }
  /* Main image */
  .top .textImage {
    font-size: 120%; }
  /* About */
  .aboutSection .principalText .aboutFirstTitle {
    font-size: 30px;
    margin-right: 80px; }
  .aboutSection .principalText .aboutSecondTitle {
    font-size: 30px; }
  /* Adopt */
  .adoptWrapper {
    width: 90%; } }

@media screen and (max-width: 1130px) {
  /* Home */
  .infoWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch; }
    .infoWrapper .infoLeft {
      width: 100%;
      padding: 0; }
      .infoWrapper .infoLeft .infoButton {
        margin-top: 40px; }
    .infoWrapper .infoRight {
      padding-top: 100px;
      width: 100%; }
  /* Adopt */
  .adoptWrapper {
    width: 100%; }
  /* Collaborate */
  .cardWrapper {
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (max-width: 1060px) {
  /* About */
  .aboutSection .aboutInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px; }
    .aboutSection .aboutInfo .imageAbout {
      height: 200px;
      width: 100%; }
    .aboutSection .aboutInfo .imageAbout:nth-child(2) {
      display: none; }
    .aboutSection .aboutInfo .aboutFirstText {
      margin-left: 0; }
    .aboutSection .aboutInfo .aboutSecondText {
      margin-right: 0; }
  .aboutSection .principalText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .aboutSection .principalText .aboutFirstTitle {
      margin-right: 0;
      margin-bottom: 0; }
  /* Adopt */
  .adoptWrapper {
    grid-template-columns: repeat(1, 1fr);
    gap: 50px; }
  .adoptionAnimalsWrapper {
    display: grid;
    grid-template-columns: repeat(2, 0.4fr);
    padding-top: 100px; }
  .arrowAdopt {
    display: none; }
  /* Contact */
  .containerForm {
    grid-template-columns: 1fr;
    grid-gap: 100px; }
    .containerForm .sectionForm {
      padding-right: 5%;
      padding-left: 5%; }
  .sectionWrapper .boxText .aboutEndText {
    text-align: center; } }

@media screen and (max-width: 1060px) and (max-width: 991px) {
  header .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    header .navbar .navbar-brand {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-right: 0; }
    header .navbar .navbar-collapse.show {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center; }
    header .navbar .navbar-collapse .navbar-nav {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start; }
      header .navbar .navbar-collapse .navbar-nav .collabButton {
        border: none;
        background: none;
        cursor: pointer;
        margin: 0;
        padding: 0;
        transition: all 0.3s ease 0s;
        color: #344e41; }
        header .navbar .navbar-collapse .navbar-nav .collabButton:hover {
          color: #a3b18a;
          text-decoration: underline; }
        header .navbar .navbar-collapse .navbar-nav .collabButton.active {
          color: #a3b18a;
          text-decoration: underline; } }

@media screen and (max-width: 1060px) and (max-width: 755px) {
  /* Main image */
  .top {
    height: 350px;
    background-position: center; }
    .top .textImage {
      margin-bottom: 70px;
      padding: 20px;
      text-align: center; }
  /* Header */
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    header .menuButton {
      display: block; }
    header nav {
      display: none; }
    header .logoImage {
      width: 300px; }
  /* About */
  .aboutSection {
    margin-left: 6%;
    margin-right: 6%; }
  /* Collaborate */
  .cardWrapper {
    grid-template-columns: repeat(1, 1fr); }
  /* Adopt */
  .adoptionAnimalsWrapper {
    display: grid;
    grid-template-columns: repeat(1, 0.7fr); }
  /* Footer */
  footer .mainContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch; }
    footer .mainContent .socialContainer {
      padding-top: 50px; } }

@media screen and (max-width: 1060px) and (max-width: 445px) {
  /* Main image */
  .top .textImage {
    font-size: 100%; }
  /* Home */
  header .navbar .navbar-brand .logoImage {
    width: 250px; }
  .infoWrapper {
    padding-left: 10%;
    padding-right: 10%; }
    .infoWrapper .infoLeft {
      width: 100%;
      padding: 0; }
      .infoWrapper .infoLeft h4 {
        font-size: 13px;
        text-align: center; }
      .infoWrapper .infoLeft h1 {
        text-align: center; }
    .infoWrapper .infoRight {
      padding-top: 150px;
      width: 100%; }
      .infoWrapper .infoRight .infoContainer p {
        font-size: 13px; }
      .infoWrapper .infoRight .infoContainer .title {
        font-size: 15px;
        max-width: 600px;
        text-align: left; }
      .infoWrapper .infoRight .backgroundWelcome {
        margin-right: 15px;
        min-width: 70px;
        height: 70px;
        border-radius: 50%; }
  /* About */
  .aboutSection .principalText .aboutFirstTitle {
    font-size: 28px; }
  .aboutSection .principalText .aboutSecondTitle {
    font-size: 28px; }
  /* Adopt */
  .adoptWrapper {
    margin-top: 50px; }
  .principalTextAdoption {
    margin-left: 10%;
    margin-right: 10%; }
  .accordion {
    padding: 60px 0 0 0;
    margin-left: 10%;
    margin-right: 10%; }
  .findText {
    padding: 60px 20px 0px 20px; }
    .findText p {
      padding-top: 20px; }
  /* Contact */
  .sectionWrapper .containerForm .infoForm {
    padding-left: 15%;
    padding-right: 15%; }
    .sectionWrapper .containerForm .infoForm .socialsForm a {
      height: 40px;
      width: 40px; }
  /* Footer */
  footer .mainContent .socialContainer .socialText {
    font-size: 15px; }
  footer .mainContent .socialContainer .textSection .logoFooter {
    width: 200px; }
  footer .mainContent .socialContainer .textSection .footerText {
    font-size: 13px; }
  footer .mainContent .socialContainer .socialButtons a {
    width: 45px;
    height: 45px; }
    footer .mainContent .socialContainer .socialButtons a img {
      height: 25px; } }

@media screen and (max-width: 1060px) and (max-width: 350px) {
  /* Home */
  header .navbar .navbar-brand .logoImage {
    width: 200px; }
  footer .mainContent .socialContainer .socialButtons .icon span {
    width: 30px;
    height: 30px; }
    footer .mainContent .socialContainer .socialButtons .icon span i {
      line-height: 30px;
      font-size: 17px; } }
