/* UTILITIES & BASE */

@import "utilities/variables";
@import "base/resets";
@import "utilities/mixins";
@import "utilities/helpers";

/* LAYOUT */

@import "layout/footer";
@import "layout/header";
@import "layout/background";

/* PAGES */

@import "pages/home";
@import "pages/about";
@import "pages/adopt";
@import "pages/collaborate";
@import "pages/contact";

/* Media queries - responsive */

@media screen and (max-width: 1480px) {
  .textImage {
    font-size: 140%;
  }
}

@media screen and (max-width: 1225px) {
  .textImage {
    font-size: 120%;
  }
}

@media screen and (max-width: 1130px) {
  header {
    display: flex;
    flex-direction: column;
  }

  .textImage {
    font-size: 100%;
  }

  .infoWrapper {
    display: flex;
    flex-direction: column;
  }

  .infoLeft {
    width: 100%;
    padding: 0;
  }

  .aboutInfoButton {
    padding-top: 70px;
  }

  .infoRight {
    padding-top: 100px;
    width: 100%;
  }
}

@media screen and (max-width: 1060px) {
  .containerForm {
    grid-template-columns: 1fr;
    grid-gap: 50px;
  }

  .socialsForm {
    width: 25%;
  }

  .sectionForm {
    padding-right: 15%;
    padding-left: 15%;
  }
}

@media screen and (max-width: 755px) {
  .navLinks {
    text-align: center;
    padding-top: 20px;
  }

  .top {
    height: 350px;
    background-position: center;
  }

  .navLinks a,
  button {
    font-size: 12px;
  }

  .textImage {
    padding: 20px;
    text-align: center;
  }

  .mainContent {
    display: flex;
    flex-direction: column;
  }

  .socialContainer {
    padding-top: 100px;
  }
}

@media screen and (max-width: 445px) {
  /* Informacion de bienvenida */

  .logoImage {
    width: 200px;
  }

  .infoWrapper {
    padding-left: 10%;
    padding-right: 10%;
  }

  .backgroundWelcome {
    margin-right: 15px;
    min-width: 70px;
    height: 70px;
    border-radius: 50%;
  }

  .title {
    font-size: 15px;
    max-width: 600px;
    text-align: left;
  }

  .infoContainer p {
    font-size: 13px;
  }

  .infoRight {
    padding-top: 150px;
    width: 100%;
  }

  .infoLeft {
    width: 100%;
    padding: 0;
  }

  .infoLeft h1 {
    text-align: center;
  }

  h4 {
    font-size: 13px;
    text-align: center;
  }

  /* Contact */

  .infoForm {
    padding-left: 15%;
    padding-right: 15%;
  }

  .socialsForm {
    width: 50%;
  }

  /* Footer */

  .logoFooter {
    width: 200px;
  }

  .footerText {
    font-size: 13px;
  }

  .socialText {
    font-size: 15px;
  }

  .socialButtons .icon span i {
    line-height: 35px;
    font-size: 15px;
  }

  .socialButtons .icon span {
    width: 35px;
    height: 35px;
  }
}
