.aboutSection {
  @include flex(column, _, _);
  padding-top: 100px;
  padding-left: 15%;
  padding-right: 15%;

  .aboutInfo {
    @include flex();
    padding-bottom: 100px;

    .imageAbout {
      width: 300px;
      height: auto;
      object-fit: cover;
    }

    .aboutFirstText {
      margin-right: 0;
      margin-left: 40px;
    }

    .aboutSecondText {
      margin-left: 0;
      margin-right: 40px;
    }
  }
}
