.dogsWrapper {
  display: grid;
  grid-template-columns: repeat(3, 0.3fr);
  gap: 50px;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 100px;

  .dogSection {
    @include flex(column, center, center);
    border: 2px solid $primaryColor;
    border-radius: 10px;
    overflow: hidden;

    img {
      width: 100%;
      object-fit: cover;
      border-bottom: 2px solid $primaryColor;
    }

    h1 {
      width: 100%;
      padding-left: 10px;
      text-align: left;
      color: $primaryColor;
    }

    ul {
      padding-left: 10px;
      width: 100%;
      li {
        list-style: none;
        text-transform: uppercase;
        font-weight: 500;
      }
    }
  }
}
