.adoptionAnimalsWrapper {
  display: grid;
  grid-template-columns: repeat(3, 0.3fr);
  gap: 50px;
  align-items: center;
  justify-content: center;
  width: 100%;

  .adoptionAnimalsSection {
    @include flex(column, center, center);
    border: 2px solid $primaryColor;
    border-radius: 10px;
    overflow: hidden;

    img {
      width: 100%;
      object-fit: cover;
      filter: grayscale(1);
      transition: all 0.5s ease;
      border-bottom: 2px solid $primaryColor;

      &:hover {
        filter: none;
      }
    }

    h1 {
      width: 100%;
      padding-top: 10px;
      padding-left: 10px;
      text-align: left;
      color: $primaryColor;
    }

    ul {
      padding-left: 10px;
      width: 100%;
      li {
        list-style: none;
        text-transform: uppercase;
        font-weight: 500;
      }
    }
  }
}

.arrowAdopt {
  @include flex(_, space-between, center);
  padding-top: 90px;
  padding-left: 5%;
  padding-bottom: 10px;
  padding-right: 5%;
  .arrowLeft {
    @include flex(_, _, center);
    img {
      width: 30px;
      filter: invert(27%) sepia(14%) saturate(695%) hue-rotate(97deg)
        brightness(101%) contrast(98%);
      &:hover {
        filter: invert(74%) sepia(13%) saturate(575%) hue-rotate(40deg)
          brightness(93%) contrast(85%);
      }
    }
    p {
      padding-left: 10px;
      margin-bottom: 0;
      color: $primaryColor;
      text-transform: uppercase;
      font-weight: 600;
    }
  }
  .arrowRight {
    @extend .arrowLeft;
    p {
      padding-right: 10px;
    }
  }
}

a {
  text-decoration: none;
}
