.cardWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding-top: 100px;
  padding-left: 15%;
  padding-right: 15%;
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.card {
  top: 0;
  left: 0;
  width: 250px;
  height: 320px;
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

.card:hover {
  transform: rotateY(180deg);
}

.cardFront {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardBack {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background: #fafafa;
  color: #333;
  text-align: center;
  transform: rotateY(180deg);
}

.cardFront h1 {
  padding: 30px;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.cardBack p {
  padding: 30px;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
}

.cardOne {
  background: url(/assets/images/);
}

.cardTwo {
  background: url(/assets/images/);
}

.cardThree {
  background: url(/assets/images/);
}

.cardFour {
  background: url(/assets/images/);
}

.cardFive {
  background: url(/assets/images/);
}

.cardSix {
  background: url(/assets/images/);
}
