.textColor {
  color: $primaryColor;
}

.justifyText {
  text-align: justify;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.hyperlink {
  color: $primaryColor;

  &:hover {
    color: $secondaryColor;

    &:visited {
      color: $tertiaryColor;
    }
  }
}
