.top {
  @include flex(row, center, flex-end);
  background-size: cover !important;
  width: 100%;
  height: 600px;

  .textImage {
    font-size: 170%;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 150px;
    color: #f2f4f3;
    text-align: center;
    font-weight: 500;
  }

  &.homeTop {
    background: url(../assets/background/home.webp);
    background-repeat: no-repeat;
  }

  &.aboutTop {
    background: url(../assets/background/about.webp);
    background-repeat: no-repeat;
  }

  &.adoptTop {
    background: url(../assets/background/adopt.webp);
    background-repeat: no-repeat;
  }

  &.collabTop {
    background: url(../assets/background/collab.webp);
    background-repeat: no-repeat;
  }

  &.contactTop {
    background: url(../assets/background/contact.webp);
    background-repeat: no-repeat;
  }

  &.dogAdoptTop {
    background: url(../assets/background/dogs.webp);
    background-repeat: no-repeat;
  }
}
