footer {
  width: 100%;
  padding: 50px 0;
  background-color: $primaryColor;
  margin-top: 100px;

  .mainContent {
    @include flex(row, space-around, center);
    .textSection {
      @include flex(column, _, center);

      .logoFooter {
        width: 275px;
      }

      .footerLine {
        width: 100%;
      }

      .footerText {
        font-size: 15px;
        color: white;
      }
    }

    .socialContainer {
      @include flex(column, _, center);

      .socialText {
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 30px;
        color: white;
      }

      .socialButtons {
        display: inline-flex;

        a {
          @include flex(row, center, center);
          margin: 0 20px;
          cursor: pointer;
          height: 60px;
          width: 60px;
          background: white;
          text-align: center;
          border-radius: 50%;
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
          transition: all 0.3s ease;

          &:hover {
            transform: scale(1.2);
            img {
              filter: invert(99%) sepia(0%) saturate(2%) hue-rotate(15deg)
                brightness(107%) contrast(101%);
            }

            &:nth-child(1) {
              background-color: #4267b2;
            }

            &:nth-child(2) {
              background-color: #1da1f2;
            }

            &:nth-child(3) {
              background: radial-gradient(
                circle at 30% 107%,
                #fdf497 0%,
                #fdf497 5%,
                #fd5949 45%,
                #d6249f 60%,
                #285aeb 90%
              );
            }

            &:nth-child(4) {
              background-color: #ff0000;
            }
          }

          img {
            height: 30px;
            filter: invert(26%) sepia(5%) saturate(2962%) hue-rotate(97deg)
              brightness(83%) contrast(78%);
          }
        }
      }
    }
  }
}
