header {
  @include flex(row, space-between, center);
  padding: 20px 5%;

  .navbar {
    @include flex(row, space-between, center);
    width: 100%;

    .navbar-brand {
      .logoImage {
        width: 350px;
        cursor: pointer;
      }
    }

    .navbar-collapse {
      &.show {
        @include flex(row, flex-end, center);
      }
    }

    .navbar-nav {
      @include flex(row, center, center);

      li {
        display: inline-block;
        padding: 0px 20px;
        font-size: 15px;
        font-weight: bold;
        text-decoration: none;

        a {
          transition: all 0.3s ease 0s;
          color: $primaryColor;

          &:hover {
            color: $secondaryColor;
            text-decoration: underline;
          }

          &.active {
            color: $secondaryColor;
          }
        }
      }

      .collabButton {
        font-size: 15px;
        font-weight: bold;
        color: white;
        padding: 9px 25px;
        background-color: $primaryColor;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;

        &:hover {
          background-color: $secondaryColor;
        }

        &.active {
          background-color: $secondaryColor;

          &:hover {
            background-color: $primaryColor;
          }
        }
      }
    }
  }
}
