@media screen and (max-width: 1480px) {
  /* Main image */
  .top {
    .textImage {
      font-size: 140%;
    }
  }

  /* About */

  .aboutSection {
    .principalText {
      .aboutFirstTitle {
        margin-right: 100px;
      }
    }
  }

  /* Adopt */
  .adoptWrapper {
    width: 80%;
  }

  /* Contact */
  .sectionWrapper {
    .containerForm {
      grid-template-columns: repeat(1, 1fr);
      gap: 80px;
    }
  }
}

@media screen and (max-width: 1225px) {
  header {
    .navbar {
      @include flex(column, _, center);

      .navbar-brand {
        margin-right: 0;
      }
    }
  }
  /* Main image */
  .top {
    .textImage {
      font-size: 120%;
    }
  }

  /* About */

  .aboutSection {
    .principalText {
      .aboutFirstTitle {
        font-size: 30px;
        margin-right: 80px;
      }
      .aboutSecondTitle {
        font-size: 30px;
      }
    }
  }

  /* Adopt */
  .adoptWrapper {
    width: 90%;
  }
}

@media screen and (max-width: 1130px) {
  /* Home */
  .infoWrapper {
    @include flex(column);

    .infoLeft {
      width: 100%;
      padding: 0;

      .infoButton {
        margin-top: 40px;
      }
    }

    .infoRight {
      padding-top: 100px;
      width: 100%;
    }
  }

  /* Adopt */
  .adoptWrapper {
    width: 100%;
  }

  /* Collaborate */
  .cardWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1060px) {
  /* About */
  .aboutSection {
    .aboutInfo {
      @include flex(column, center, center);
      padding-bottom: 50px;

      .imageAbout {
        height: 200px;
        width: 100%;
      }

      .imageAbout:nth-child(2) {
        display: none;
      }

      .aboutFirstText {
        margin-left: 0;
      }

      .aboutSecondText {
        margin-right: 0;
      }
    }

    .principalText {
      @include flex(column, center, center);

      .aboutFirstTitle {
        margin-right: 0;
        margin-bottom: 0;
      }
    }
  }

  /* Adopt */

  .adoptWrapper {
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
  }

  .adoptionAnimalsWrapper {
    display: grid;
    grid-template-columns: repeat(2, 0.4fr);
  }
  /* Contact */

  .containerForm {
    grid-template-columns: 1fr;
    grid-gap: 100px;

    .sectionForm {
      padding-right: 15%;
      padding-left: 15%;
    }
  }

  @media screen and (max-width: 991px) {
    header {
      .navbar {
        @include flex(row, space-between, center);

        .navbar-brand {
          @include flex(row, space-between, center);
          width: 100%;
          margin-right: 0;
        }

        .navbar-collapse {
          &.show {
            @include flex(row, flex-start, center);
          }

          .navbar-nav {
            @include flex(column, flex-start, flex-start);

            .collabButton {
              border: none;
              background: none;
              cursor: pointer;
              margin: 0;
              padding: 0;
              transition: all 0.3s ease 0s;
              color: $primaryColor;

              &:hover {
                color: $secondaryColor;
                text-decoration: underline;
              }

              &.active {
                color: $secondaryColor;
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 755px) {
    /* Main image */
    .top {
      height: 350px;
      background-position: center;
      .textImage {
        margin-bottom: 70px;
        padding: 20px;
        text-align: center;
      }
    }

    /* Header */
    header {
      @include flex(row, space-between, center);
      .menuButton {
        display: block;
      }
      nav {
        display: none;
      }
      .logoImage {
        width: 300px;
      }
    }

    /* About */
    .aboutSection {
      margin-left: 6%;
      margin-right: 6%;
    }

    /* Collaborate */
    .cardWrapper {
      grid-template-columns: repeat(1, 1fr);
    }

    /* Adopt */
    .adoptionAnimalsWrapper {
      display: grid;
      grid-template-columns: repeat(1, 0.7fr);
    }

    /* Footer */
    footer {
      .mainContent {
        @include flex(column);
        .socialContainer {
          padding-top: 100px;
        }
      }
    }
  }

  @media screen and (max-width: 445px) {
    /* Main image */
    .top {
      .textImage {
        font-size: 100%;
      }
    }
    /* Home */
    header {
      .navbar {
        .navbar-brand {
          .logoImage {
            width: 250px;
          }
        }
      }
    }

    .infoWrapper {
      padding-left: 10%;
      padding-right: 10%;

      .infoLeft {
        width: 100%;
        padding: 0;
        h4 {
          font-size: 13px;
          text-align: center;
        }
        h1 {
          text-align: center;
        }
      }

      .infoRight {
        padding-top: 150px;
        width: 100%;

        .infoContainer {
          p {
            font-size: 13px;
          }
          .title {
            font-size: 15px;
            max-width: 600px;
            text-align: left;
          }
        }

        .backgroundWelcome {
          margin-right: 15px;
          min-width: 70px;
          height: 70px;
          border-radius: 50%;
        }
      }
    }

    .aboutSection {
      .principalText {
        .aboutFirstTitle {
          font-size: 28px;
        }
        .aboutSecondTitle {
          font-size: 28px;
        }
      }
    }

    /* Contact */

    .sectionWrapper {
      .containerForm {
        .infoForm {
          padding-left: 15%;
          padding-right: 15%;

          .socialsForm {
            a {
              height: 40px;
              width: 40px;
            }
          }
        }
      }
    }

    /* Footer */

    footer {
      .mainContent {
        .socialContainer {
          .socialText {
            font-size: 15px;
          }
          .textSection {
            .logoFooter {
              width: 200px;
            }
            .footerText {
              font-size: 13px;
            }
          }
          .socialButtons {
            a {
              width: 45px;
              height: 45px;
              img {
                height: 25px;
              }
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 350px) {
    /* Home */
    header {
      .navbar {
        .navbar-brand {
          .logoImage {
            width: 200px;
          }
        }
      }
    }
    footer {
      .mainContent {
        .socialContainer {
          .socialButtons {
            .icon {
              span {
                width: 30px;
                height: 30px;
                i {
                  line-height: 30px;
                  font-size: 17px;
                }
              }
            }
          }
        }
      }
    }
  }
}
