* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;

  &::selection {
    background-color: $primaryColor;
    color: $tertiaryColor;
  }
  cursor: url(../assets/cursor/default.png), auto !important;
  a {
    cursor: url(../assets/cursor/pointer.png), pointer !important;
    img {
      cursor: url(../assets/cursor/pointer.png), pointer !important;
    }
  }
  button {
    cursor: url(../assets/cursor/pointer.png), pointer !important;
  }
}

body {
  background-color: $backgroundColor;
  margin: 0;
  padding: 0;
}
